<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/static/css/seo/1.css">
</head>
<body>
    <div class="wrapper">
        <div>
          <h2 class="product-name">사과</h2>
          <p class="product-price">1000원</p>
          <button class="add-to-cart">장바구니 추가</button>
        </div>
        <div>
          <h2 class="product-name">바나나</h2>
          <p class="product-price">1500원</p>
          <button class="add-to-cart">장바구니 추가</button>
        </div>
      </div>
      <div class="cart">
        <h2>장바구니</h2>
        <ul class="cart-items"></ul>
      </div>
    <script type="text/javascript" src="/static/js/seo/1.js"></script>
</body>
</html>