<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/static/css/seo/2.css">
</head>
<style>
.board{
    border: 1px solid black;
    margin-bottom: 20px;
}
.board{
    border: 1px solid black;
    margin-bottom: 20px;
}
</style>
<body>
<div class="board-wrapper">
        <div class="board">
            <h1>첫 번째 게시글</h1>
            <p>첫번째 게시글 입니다!</p>
          </div>
          <div class="board">
            <h1>두 번째 게시글</h1>
            <p>두번째 게시글 입니다!</p>
          </div>
    
          <button class="btn-make-board">게시글 생성하기</button>
        
</div>

    <script type="text/javascript" src="/static/js/seo/2.js"></script>
</body>
</html>