<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/yoon/1.css">
</head>
<body>
    <div class="box-list">
        <div class="box">
            <h3>사과</h3>
            <p>1000원</p>
            <button onclick="addList(this.parentNode)">장바구니에 추가</button>
        </div>
    
    
        <div class="box">
            <h3>바나나</h3>
            <p>2000원</p>
            <button onclick="addList(this.parentNode)">장바구니에 추가</button>
        </div>
    </div>

    <ul id="ul_tag"></ul>

    <script type="text/javascript" src="/static/js/yoon/1.js"></script>
</body>
</html>