<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/yoon/2.css">
</head>
<body>
    <button id="addText">게시글 생성</button>
    <div class="box-list">
        <div class="text-box" id="box_1">
            <h3><span id="text-num">1</span>번 게시글</h3>
            <p>안녕하세요!</p>
        </div>

        <div class="text-box" id="box_2">
            <h3><span id="text-num">2</span>번 게시글</h3>
            <p>반갑습니다.</p>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/yoon/2.js"></script>
</body>
</html>