<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/yoon/4.css">
</head>
<body>
    <div class="input-button">
        <input type="text" id="textValue" placeholder="할 일을 입력해주세요.">
        <button id="addBtn">추가</button>
    </div>

    <div class="workList"></div>

    <script type="text/javascript" src="/static/js/yoon/4.js"></script>
</body>
</html>